@model PastryViewModel
<hr>
<div class="row pastry">
    <div class="col-md-1">
        <img src="@Model.ImagePath" width="52" height="52" alt="@Model.Name" asp-append-version="true">
    </div>
    @*<div class="col-md-5">
        <h2>@Model.Name</h2>
        <details>@Model.Description</details>
    </div>*@
    <div class="col-md-5" title="@Model.Description">
        <details value="@Model.Description"></details>
    </div>
    <div class="col-md-2 price">
        <price current-price="@Model.CurrentPrice" full-price="@Model.Price"></price>
    </div>
    <div class="col-md-2 d-flex align-items-center">
        <a class="btn btn-outline-primary" asp-controller="Courses" asp-action="Detail" asp-route-id="@Model.Id">Dettaglio</a>
    </div>
</div>